<template>
    <section class="contact_area section_gap">
        <div class="container">
            <div class="section_title text-center">
                <h2 class="title_color">{{ t("Contact.title") }}</h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="contact_info">
                        <div class="info_item">
                            <i class="lnr lnr-map-marker"></i>
                            <h6 class="footerTitleFontSize">{{ t("Contact.address.first") }}</h6>
                            <p class="footerContantFontSize">{{ t("Contact.address.last") }}</p>
                        </div>
                        <div class="info_item">
                            <i class="lnr lnr-envelope"></i>
                            <h6 class="footerTitleFontSize"><a href="#">{{ t("Contact.mail.first") }}</a></h6>
                            <p class="footerContantFontSize">{{ t("Contact.mail.last") }}</p>
                        </div>
                        <div class="info_item">
                            <i class="lnr lnr-phone-handset"></i>
                            <h6 class="footerTitleFontSize"><a href="#"> {{ t("Contact.phone") }}</a></h6>
                            <p class="footerContantFontSize"></p>
                            <!-- <p class="footerContantFontSize">每個禮拜一到五早上9點到晚上6點</p> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <a href="https://www.google.com/maps/place/%E5%85%89%E7%99%BC%E5%A1%91%E8%86%A0%E5%B7%A5%E6%A5%AD%E8%82%A1%E4%BB%BD%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8/@24.1012576,120.7276987,15.41z/data=!4m5!3m4!1s0x3469232180773d0d:0xb58e387fd61c76d3!8m2!3d24.1037405!4d120.7322598"><img class="addressImage" src="../assets/image/address/address.jpg"/></a>
                </div>
            </div>
        </div>
    </section>

</template>

<script>
import { useI18n } from "vue-i18n";
export default {
    setup() {
        const { t, locale } = useI18n();
        return {
            t,
            locale,
        };
    }
}
</script>

<style>
.addressImage{
    width: 200%;
    height:100%;
    max-width: 100vh;
    max-height: 100vh;
    object-fit: cover;
}

.addressImage:hover{
    border-radius: 10px;
}

.footerTitleFontSize{
    font-size: 22px !important;
}

.footerContantFontSize{
    font-size: 18px !important;
}
</style>