<template>

    <section class="breadcrumb_area" style="background-color:#CC998A">
        <div class="container">
            <div class="page-cover text-center d-flex justify-content-center" >
                <h2 class="page-cover-tittle">{{ t("Exclusive.title") }}</h2>
            </div>
        </div>
    </section>

    <!--================Breadcrumb Area =================-->
    <section class="gallery_area section_gap">
        <div class="container">
            <div class="row imageGallery1" id="gallery">
                <!-- wallpaper Data 2022 -->
                <div class="col-lg-4 col-md-4 col-sm-12 gallery_item" v-for="value in wallpaperData2022" :key="value">
                    <div class="gallery_img" data-bs-toggle="modal" :data-bs-target="'#'+value.image_name">
                        <img v-bind:src="value.image_path" alt="">
                        <div class="hover">
                            <i class="fa">{{ value.image_name }}</i>
                        </div>
                    </div>
                </div>
                <!-- wallpaper Data 2021 -->
                <div class="col-sm-4 col-md-4 col-sm-12 gallery_item" v-for="value in wallpaperData2021" :key="value">
                    <div class="gallery_img" data-bs-toggle="modal" :data-bs-target="'#'+value.image_name">
                        <img v-bind:src="value.image_path" alt="">
                        <div class="hover">
                            <i class="fa">{{ value.image_name }}</i>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- wallpaper Data 2022 -->
    <div v-for="value in wallpaperData2022" :key="value">
        <div class="modal fade" :id="value.image_name" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ value.image_name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="thumb">
                                    <a class="light" v-bind:href="value.image_path" target="_blank">
                                        <img class="img-fluid" v-bind:src="value.image_path" alt="post">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <h3 class="title_color">{{ t("Exclusive.modal.details") }}</h3>
                                <div style="font-size:18px">
                                    <p>{{ t("Exclusive.modal.productName") }} : {{ value.image_name }}</p>
                                    <p>{{ t("Exclusive.modal.productCategory") }} : {{ value.product_category }}</p>
                                    <p>{{ t("Exclusive.modal.productRemark") }} : {{ value.product_remark }}</p>
                                    <p>{{ t("Exclusive.modal.productYear") }} : {{ value.product_year }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ t("Exclusive.modal.close") }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- wallpaper Data 2021 -->
    <div v-for="value in wallpaperData2021" :key="value">
        <div class="modal fade" :id="value.image_name" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ value.image_name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="thumb">
                                    <a class="light" v-bind:href="value.image_path" target="_blank">
                                        <img class="img-fluid" v-bind:src="value.image_path" alt="post">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <h3 class="title_color">{{ t("Exclusive.modal.details") }}</h3>
                                <div style="font-size:18px">
                                    <p>{{ t("Exclusive.modal.productName") }} : {{ value.image_name }}</p>
                                    <p>{{ t("Exclusive.modal.productCategory") }} : {{ value.product_category }}</p>
                                    <p>{{ t("Exclusive.modal.productRemark") }} : {{ value.product_remark }}</p>
                                    <p>{{ t("Exclusive.modal.productYear") }} : {{ value.product_year }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ t("Exclusive.modal.close") }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {ref} from "@vue/reactivity"
import wallpaper from "../../src/imageJson/wallpaper.json"
import { useI18n } from "vue-i18n";
const wallpaperData2022 = wallpaper.data.year_2022;
const wallpaperData2021 = wallpaper.data.year_2021;
export default {
    data() {
        return {
            wallpaperData2022,
            wallpaperData2021
        };
    },
    setup() {
        const { t, locale } = useI18n();
        return {
            t,
            locale,
        };
    },
}
</script>

<style>
.breadcrumb_area{
    padding-bottom: 50px;
}
</style>