<template>
    <!--================ Latest Blog Area  =================-->

    <section class="gallery_area section_gap">
        <div class="container">
            <div class="section_title text-center">
                <h2 class="title_color">{{ t("Home.title") }}</h2>
                <!-- <p>Who are in extremely love with eco friendly system.</p> -->
            </div>
            <div class="row imageGallery1" id="gallery">

                <div class="col-md-4 gallery_item">
                    <router-link class="nav-link" to="/PlasticFloor">
                    <div class="gallery_img">
                        <img src="../assets/image/products/vinylWallcovering/DSC05670.jpg" alt="">
                        <div class="hover">
                            <i class="fa">{{ t("Home.product.List3") }}</i>
                        </div>
                    </div>
                    </router-link>
                    <div class="details text-center">
                        <router-link class="nav-link" to="/WallCovering"><h3 class="sec_h4">{{ t("Home.product.List3") }}</h3></router-link>
                    </div>
                </div>

                <div class="col-md-4 gallery_item">
                        <router-link class="nav-link" to="/PlasticFloor">
                    <div class="gallery_img">
                        <img src="../assets/image/products/vinylFlooring/DSC05837.jpg" alt="">
                        <div class="hover">
                            <i class="fa">{{ t("Home.product.List2") }}</i>
                        </div>
                    </div>
                        </router-link>

                        <div class="details text-center">
                        <router-link class="nav-link" to="/PlasticFloor"><h3 class="sec_h4">{{ t("Home.product.List2") }}</h3></router-link>
                    </div>
                </div>

                <div class="col-md-4 gallery_item">
                    <router-link class="nav-link" to="/LifeApplication">
                        <div class="gallery_img">
                            <img src="../assets/image/products/dailyUse/DSC05765.jpg" alt="">
                            <div class="hover">
                                <i class="fa">{{ t("Home.product.List1") }}</i>
                            </div>
                        </div>
                    </router-link>
                    <div class="details text-center">
                        <router-link class="nav-link" to="/LifeApplication"><h3 class="sec_h4">{{ t("Home.product.List1") }}</h3></router-link>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!--================Banner Area =================-->
    <section class="accomodation_area section_gap">

        <div class="container">
            <div class="row mb_30">
                <div class="col-12">
                    <h2 style="color:black;">{{ t("Home.aboutUS.title") }}</h2>
                </div>
                <div class="col-12 aboutUs" style="margin-top:15px;">
                    <p style="title_color; font-size:20px">
                        {{ t("Home.aboutUS.content1") }}
                    </p>
                </div>
                <div class="col-12 aboutUs">
                    <p>
                        {{ t("Home.aboutUS.content2") }}
                    </p>
                </div>
                    <div class="col-12 aboutUs">
                    <p>
                        {{ t("Home.aboutUS.content3") }}
                    </p>
                </div>
                <div class="col-12 aboutUs">
                    <p>
                        {{ t("Home.aboutUS.content4") }}
                        <a href="#">{{ t("Home.aboutUS.contean4Link") }}</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!--================ Testimonial Area  =================-->
    <section class="testimonial_area section_gap">
        <div class="container">
            <div class="section_title text-center">
                <h2 class="title_color">{{ t("Home.Exclusive.title") }}</h2>
            </div>
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" style="padding:10px;">
                <div class="carousel-inner" style="height:500px;">
                    <div class="carousel-item active" data-bs-toggle="modal" data-bs-target="#470-B65577-6">
                        <img src="../assets/image/wallpaper/470-B65577-6.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item" data-bs-toggle="modal" data-bs-target="#470-B65577-8">
                        <img src="../assets/image/wallpaper/470-B65577-8.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item" v-for="value in plasticFloorData2022" :key="value">
                        <div data-bs-toggle="modal" :data-bs-target="'#'+value.image_name">
                            <img v-bind:src="value.image_path" class="d-block w-100">
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </button>
            </div>
        </div>
    </section>

    <div class="modal fade" id="470-B65577-6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">470-B65577-6</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="thumb">
                                <a class="light" href="../assets/image/wallpaper/470-B65577-6.jpg" target="_blank">
                                    <img class="img-fluid" src="../assets/image/wallpaper/470-B65577-6.jpg" alt="post">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <h3 class="title_color">{{ t("Home.Exclusive.modal.details") }}</h3>
                            <div style="font-size:18px">
                                <p>{{ t("Home.Exclusive.modal.productName") }} : 470-B65577-6</p>
                                <p>{{ t("Home.Exclusive.modal.productCategory") }} : Plastic Floor</p>
                                <p>{{ t("Home.Exclusive.modal.productRemark") }} : </p>
                                <p>{{ t("Home.Exclusive.modal.productYear") }} : 2022</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ t("Home.Exclusive.modal.close") }}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="470-B65577-8" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">470-B65577-8</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="thumb">
                                <a class="light" href="../assets/image/wallpaper/470-B65577-8.jpg" target="_blank">
                                    <img class="img-fluid" src="../assets/image/wallpaper/470-B65577-8.jpg" alt="post">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <h3 class="title_color">{{ t("Home.Exclusive.modal.details") }}</h3>
                            <div style="font-size:18px">
                                <p>{{ t("Home.Exclusive.modal.productName") }} : 470-B65577-8</p>
                                <p>{{ t("Home.Exclusive.modal.productCategory") }} : Plastic Floor</p>
                                <p>{{ t("Home.Exclusive.modal.productRemark") }} : </p>
                                <p>{{ t("Home.Exclusive.modal.productYear") }} : 2022</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ t("Home.Exclusive.modal.close") }}</button>
                </div>
            </div>
        </div>
    </div>

    <div v-for="value in plasticFloorData2022" :key="value">
        <div class="modal fade" :id="value.image_name" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ value.image_name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="thumb">
                                    <a class="light" v-bind:href="value.image_path" target="_blank">
                                        <img class="img-fluid" v-bind:src="value.image_path" alt="post">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <h3 class="title_color">{{ t("Home.Exclusive.modal.details") }}</h3>
                                <div style="font-size:18px">
                                    <p>{{ t("Home.Exclusive.modal.productName") }} : {{ value.image_name }}</p>
                                    <p>{{ t("Home.Exclusive.modal.productCategory") }} : {{ value.product_category }}</p>
                                    <p>{{ t("Home.Exclusive.modal.productRemark") }} : {{ value.product_remark }}</p>
                                    <p>{{ t("Home.Exclusive.modal.productYear") }} : {{ value.product_year }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ t("Home.Exclusive.modal.close") }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import  plasticFloor from "../../src/imageJson/plasticFloor.json"
const plasticFloorData2022 = plasticFloor.data.year_2022;
import { useI18n } from "vue-i18n";

export default {
    data() {
        return {
            plasticFloorData2022
        }
    },
    setup() {
        const { t, locale } = useI18n();
        return {
            t,
            locale,
        };
    },
}

</script>

<style>
    .aboutUs p{
        text-align: justify ;
        font-size: 20px;
        color: black;

    }

    .wallpaperImage{
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }


    button{
        cursor:pointer;
    }


</style>