<template>
    <section class="accomodation_area section_gap">
        <div class="row mb_30">
            <div class="container">
                <div class="col-12">
                    <h2 style="color:black;">{{ t("dailyUse.title") }}</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="latest_blog_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex justify-content-center"  v-for="value in lifeApplicationData" :key="value">
                    <div class="card" style="width: 18rem;" data-bs-toggle="modal" :data-bs-target="'#'+value.image_id">
                        <div class="single-recent-blog-post m-0">
                            <div class="thumb">
                                <img class="img-fluid" v-bind:src="value.image_path" alt="post">
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item cardFontSize">{{ value.image_name }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div v-for="value in lifeApplicationData" :key="value">
        <div class="modal fade" :id="value.image_id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ value.image_name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="thumb">
                                    <a class="light" v-bind:href="value.image_path" target="_blank">
                                        <img class="img-fluid" v-bind:src="value.image_path" alt="post">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <h3 class="title_color">{{ t("dailyUse.details") }}</h3>
                                <div style="font-size:18px">
                                    <p>{{ t("dailyUse.productCategory") }} : {{ value.product_category }}</p>
                                    <p>{{ t("dailyUse.productRemark") }} : {{ value.product_remark }}</p>
                                </div>
                                <!-- <div><p>Product Remark :{{ value.product_remark }}</p></div> -->
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ t("dailyUse.close") }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</template>

<script>
import {ref} from "@vue/reactivity"
import lifeApplication from "../../src/imageJson/lifeApplication.json"
import { useI18n } from "vue-i18n";
const lifeApplicationData = lifeApplication.data;
    const lifeApplicationDataImg_id = ref();
    const lifeApplicationDataImg_path = ref();
    const lifeApplicationDataImg_name = ref();

    export default {
        lifeApplicationData :lifeApplication.data,

        data() {
            return {
                lifeApplicationData,
                lifeApplicationDataImg_id,
                lifeApplicationDataImg_path,
                lifeApplicationDataImg_name,
            };
        },
        setup() {
            const { t, locale } = useI18n();
            return {
                t,
                locale,
            };
        },
        methods:{
            lifeApplicationBtnClick(id,name,path){
                lifeApplicationDataImg_id.value = id;
                lifeApplicationDataImg_path.value =path;
                lifeApplicationDataImg_name.value = name;

            }
        }
    };
</script>

<style>

</style>