<template>
    <section class="accomodation_area section_gap pb-4">
        <div class="container">
            <div class="row pb-3 pt-3">
                <div class="col-12">
                    <h2 style="color:black;">{{ t("plasticFloor.title") }}</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row pt-2">
                <div class="col-11">
                    <input type="text" class="form-control" id="search" :placeholder="t('plasticFloor.search.name')">
                    
                </div>
                <div class="col-1">
                    <button id="myInput" type="button" class="btn btn-primary" style="background:#EAC100; border-color:#EAC100" @click="search(this)">
                        <i class="lnr lnr-magnifier" style="font-weight: 900;"></i>
                    </button>
                </div>
                <div class="col-12">
                    <small id="emailHelp" class="form-text text-muted">{{ t("plasticFloor.search.remark") }}</small> 
                </div>
            </div>
        </div>
    </section>

    <section class="latest_blog_area">
        <div class="container">
            <div class="row">
                <!-- 2022年產品 -->
                <h2 class="col-12 pb-3">2022</h2>
                <div class="col-lg-4 col-md-6 d-flex justify-content-center" v-for="value in plasticFloorData2022" :key="value">
                    <div class="card" style="width: 18rem;" data-bs-toggle="modal" :data-bs-target="'#'+value.image_name">
                        <div class="single-recent-blog-post m-0">
                            <div class="thumb">
                                <img class="img-fluid" v-bind:src="value.image_path" alt="post">
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item cardFontSize">{{ value.image_name }}</li>
                        </ul>
                    </div>
                </div>
                <!-- 2016年產品 -->
                <h2 class="col-12 pb-3 pt-3">2016</h2>
                <div class="col-lg-4 col-md-6 d-flex justify-content-center" v-for="value in plasticFloorData2016" :key="value">
                    <div class="card" style="width: 18rem;" data-bs-toggle="modal" :data-bs-target="'#'+value.image_name">
                        <div class="single-recent-blog-post m-0">
                            <div class="thumb">
                                <img class="img-fluid" v-bind:src="value.image_path" alt="post">
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item cardFontSize">{{ value.image_name }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- 2022年產品 -->
    <div v-for="value in plasticFloorData2022" :key="value">
        <div class="modal fade" :id="value.image_name" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ value.image_name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="thumb">
                                    <a class="light" v-bind:href="value.image_path" target="_blank">
                                        <img class="img-fluid" v-bind:src="value.image_path" alt="post">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <h3 class="title_color">{{ t("plasticFloor.modal.details") }}</h3>
                                <div style="font-size:18px">
                                    <p>{{ t("plasticFloor.modal.productName") }} : {{ value.image_name }}</p>
                                    <p>{{ t("plasticFloor.modal.productCategory") }} : {{ value.product_category }}</p>
                                    <p>{{ t("plasticFloor.modal.productRemark") }} : {{ value.product_remark }}</p>
                                    <p>{{ t("plasticFloor.modal.productYear") }} : {{ value.product_year }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ t("plasticFloor.modal.close") }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 2016年產品 -->
    <div v-for="value in plasticFloorData2016" :key="value">
        <div class="modal fade" :id="value.image_name" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ value.image_name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="thumb">
                                    <a class="light" v-bind:href="value.image_path" target="_blank">
                                        <img class="img-fluid" v-bind:src="value.image_path" alt="post">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <h3 class="title_color">{{ t("plasticFloor.modal.details") }}</h3>
                                <div style="font-size:18px">
                                    <p>{{ t("plasticFloor.modal.productName") }} : {{ value.image_name }}</p>
                                    <p>{{ t("plasticFloor.modal.productCategory") }} : {{ value.product_category }}</p>
                                    <p>{{ t("plasticFloor.modal.productRemark") }} : {{ value.product_remark }}</p>
                                    <p>{{ t("plasticFloor.modal.productYear") }} : {{ value.product_year }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ t("plasticFloor.modal.close") }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="modal fade" id="noData" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ t("plasticFloor.modal.noData") }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container d-flex justify-content-center">
                            <h3 class="title_color">{{ t("plasticFloor.modal.noDataRemark") }}</h3>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ t("plasticFloor.modal.close") }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
import {ref} from "@vue/reactivity"
import { useI18n } from "vue-i18n";
import  plasticFloor from "../../src/imageJson/plasticFloor.json"
    const plasticFloorData = plasticFloor.data;
    const plasticFloorData2022 = plasticFloor.data.year_2022;
    const plasticFloorData2016 = plasticFloor.data.year_2016;
    const plasticFloorDataImg_id = ref();
    const plasticFloorDataImg_path = ref();
    const plasticFloorDataImg_name = ref();

    
    
    export default {

        data() {
            return {
                plasticFloorData,
                plasticFloorDataImg_id,
                plasticFloorDataImg_path,
                plasticFloorDataImg_name,
                plasticFloorData2022,
                plasticFloorData2016
            };
        },
        setup() {
            const { t, locale } = useI18n();
            return {
                t,
                locale,
            };
        },
        methods:{
            lifeApplicationBtnClick(id,name,path){
                plasticFloorDataImg_id.value = id;
                plasticFloorDataImg_path.value =path;
                plasticFloorDataImg_name.value = name;

            },
            search(){
                var seach_id = $("#search").val();
                if (seach_id == "") {
                    $('#noData').modal('show');
                }else if ($("#"+seach_id).length == 0) {
                    $('#noData').modal('show');
                }else{
                    $(`#${seach_id}`).modal('show');
                }
            }
        }
    };
</script>

<style>

</style>