<template>
    <section class="latest_blog_area section_gap">
        <div class="container">
            <div class="section_title text-center">
                <h2 class="title_color">{{ t("Products.title") }}</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <div class="single-recent-blog-post m-0">
                            <div class="thumb">
                                <router-link class="" to="/WallCovering">
                                <img class="img-fluid" src="../assets/image/products/vinylWallcovering/DSC05670.jpg" alt="post">
                                </router-link>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item cardFontSize">{{ t("Products.product.List3") }}</li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <div class="single-recent-blog-post m-0">
                            <div class="thumb">
                                <router-link class="" to="/PlasticFloor">
                                <img class="img-fluid" src="../assets/image/plasticFloor/bg_image.jpg" alt="post">
                                </router-link>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item cardFontSize">{{ t("Products.product.List2") }}</li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <div class="single-recent-blog-post m-0">
                            <div class="thumb">
                                <router-link class="" to="/LifeApplication">
                                    <img class="img-fluid" src="../assets/image/products/dailyUse/DSC05765.jpg" alt="post">
                                </router-link>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item cardFontSize">{{ t("Products.product.List1") }}</li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </section>
</template>

<script>
import { useI18n } from "vue-i18n";
export default {
    setup() {
        const { t, locale } = useI18n();
        return {
            t,
            locale,
        };
    }
}
</script>

<style>
.cardFontSize{
    font-size: 18px;
}
</style>