<template>
    <section class="accomodation_area section_gap">
        <div class="container" >

            <div class="section_title text-center">
                <h2 class="title_color">Project</h2>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-12 d-flex justify-content-center">
                    <div class="card" style="width: 18rem;" data-bs-toggle="modal" data-bs-target="#projeact1">
                        <div class="single-recent-blog-post m-0">
                            <div class="thumb">
                                <img class="img-fluid" src="../assets/image/products/dailyUse/DSC05765.jpg" alt="post">
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item cardFontSize">Project show</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 d-flex justify-content-center">
                    <div class="card" style="width: 18rem;" data-bs-toggle="modal" data-bs-target="#projeact2">
                        <div class="single-recent-blog-post m-0">
                            <div class="thumb">
                                <img class="img-fluid" src="../assets/image/products/vinylFlooring/DSC05837.jpg" alt="post">
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item cardFontSize">Project show</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 d-flex justify-content-center">
                    <div class="card" style="width: 18rem;" data-bs-toggle="modal" data-bs-target="#projeact3">
                        <div class="single-recent-blog-post m-0">
                            <div class="thumb">
                                <img class="img-fluid" src="../assets/image/products/vinylWallcovering/DSC05670.jpg" alt="post">
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item cardFontSize">Project show</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal projeact1 -->
    <div class="modal fade" id="projeact1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Project 1</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="thumb">
                                <img class="img-fluid" src="../assets/image/products/dailyUse/DSC05765.jpg" alt="post">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <h4 class="title_color">詳細資訊</h4>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal projeact2 -->
    <div class="modal fade" id="projeact2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Project 2</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="thumb">
                                <img class="img-fluid" src="../assets/image/products/vinylFlooring/DSC05837.jpg" alt="post">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <h4 class="title_color">詳細資訊</h4>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal projeact3 -->
    <div class="modal fade" id="projeact3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Project 3</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="thumb">
                                <img class="img-fluid" src="../assets/image/products/vinylWallcovering/DSC05670.jpg" alt="post">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <h4 class="title_color">詳細資訊</h4>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style>
.cardFontSize{
    font-size: 18px;
}
</style>