<template>
    <section class="accomodation_area section_gap pb-4">
        <div class="container">
            <div class="row pb-3 pt-3">
                <div class="col-12">
                    <h2 style="color:black;">{{ t("vinylWallcovering.title") }}</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row pt-2">
                <div class="col-11">
                    <input type="text" class="form-control" id="search" :placeholder="t('vinylWallcovering.search.name')">
                </div>
                <div class="col-1">
                    <button id="myInput" type="button" class="btn btn-primary" style="background:#EAC100; border-color:#EAC100" @click="search()">
                        <i class="lnr lnr-magnifier" style="font-weight: 900;"></i>
                    </button>
                </div>
                <div class="col-12">
                    <small id="emailHelp" class="form-text text-muted">{{ t('vinylWallcovering.search.remark') }}</small> 
                </div>
            </div>
        </div>
    </section>

    <section class="latest_blog_area ">
        <div class="container">
            <div class="row">
                <!-- 2022年產品 -->
                <h2 class="col-12 pb-3">2021 ~ 2022</h2>
                <div class="col-lg-4 col-md-6 d-flex justify-content-center"  v-for="value in wallpaperData2022" :key="value">
                    <div class="card" style="width: 18rem;" data-bs-toggle="modal" :data-bs-target="'#'+value.image_name">
                        <div class="single-recent-blog-post m-0">
                            <div class="thumb">
                                <img class="img-fluid" v-bind:src="value.image_path" alt="post">
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item cardFontSize">{{ value.image_name }}</li>
                        </ul>
                    </div>
                </div>
                <!-- 2021年產品 -->
                <!-- <h2 class="col-12 pb-3 pt-3">2021</h2> -->
                <div class="col-lg-4 col-md-6 d-flex justify-content-center"  v-for="value in wallpaperData2021" :key="value">
                    <div class="card" style="width: 18rem;" data-bs-toggle="modal" :data-bs-target="'#'+value.image_name">
                        <div class="single-recent-blog-post m-0">
                            <div class="thumb">
                                <img class="img-fluid" v-bind:src="value.image_path" alt="post">
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item cardFontSize">{{ value.image_name }}</li>
                        </ul>
                    </div>
                </div>
                <!-- 2020年產品 -->
                <h2 class="col-12 pb-3 pt-3">2015 ~ 2020</h2>
                <div class="col-lg-4 col-md-6 d-flex justify-content-center"  v-for="value in wallpaperData2020" :key="value">
                    <div class="card" style="width: 18rem;" data-bs-toggle="modal" :data-bs-target="'#'+value.image_name">
                        <div class="single-recent-blog-post m-0">
                            <div class="thumb">
                                <img class="img-fluid" v-bind:src="value.image_path" alt="post">
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item cardFontSize">{{ value.image_name }}</li>
                        </ul>
                    </div>
                </div>
                <!-- 2019年產品 -->
                <!-- <h2 class="col-12 pb-3 pt-3">2019</h2> -->
                <div class="col-lg-4 col-md-6 d-flex justify-content-center"  v-for="value in wallpaperData2019" :key="value">
                    <div class="card" style="width: 18rem;" data-bs-toggle="modal" :data-bs-target="'#'+value.image_name">
                        <div class="single-recent-blog-post m-0">
                            <div class="thumb">
                                <img class="img-fluid" v-bind:src="value.image_path" alt="post">
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item cardFontSize">{{ value.image_name }}</li>
                        </ul>
                    </div>
                </div>
                <!-- 2018年產品 -->
                <!-- <h2 class="col-12 pb-3 pt-3">2018</h2> -->
                <div class="col-lg-4 col-md-6 d-flex justify-content-center"  v-for="value in wallpaperData2018" :key="value">
                    <div class="card" style="width: 18rem;" data-bs-toggle="modal" :data-bs-target="'#'+value.image_name">
                        <div class="single-recent-blog-post m-0">
                            <div class="thumb">
                                <img class="img-fluid" v-bind:src="value.image_path" alt="post">
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item cardFontSize">{{ value.image_name }}</li>
                        </ul>
                    </div>
                </div>
                <!-- 2017年產品 -->
                <!-- <h2 class="col-12 pb-3 pt-3">2017</h2> -->
                <div class="col-lg-4 col-md-6 d-flex justify-content-center"  v-for="value in wallpaperData2017" :key="value">
                    <div class="card" style="width: 18rem;" data-bs-toggle="modal" :data-bs-target="'#'+value.image_name">
                        <div class="single-recent-blog-post m-0">
                            <div class="thumb">
                                <img class="img-fluid" v-bind:src="value.image_path" alt="post">
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item cardFontSize">{{ value.image_name }}</li>
                        </ul>
                    </div>
                </div>
                <!-- 2015年產品 -->
                <!-- <h2 class="col-12 pb-3 pt-3">2015</h2> -->
                <div class="col-lg-4 col-md-6 d-flex justify-content-center"  v-for="value in wallpaperData2015" :key="value">
                    <div class="card" style="width: 18rem;" data-bs-toggle="modal" :data-bs-target="'#'+value.image_name">
                        <div class="single-recent-blog-post m-0">
                            <div class="thumb">
                                <img class="img-fluid" v-bind:src="value.image_path" alt="post">
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item cardFontSize">{{ value.image_name }}</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- 2022年產品 -->
    <div v-for="value in wallpaperData2022" :key="value">
        <div class="modal fade" :id="value.image_name" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ value.image_name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="thumb">
                                    <a class="light" v-bind:href="value.image_path" target="_blank">
                                        <img class="img-fluid" v-bind:src="value.image_path" alt="post">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <h3 class="title_color">{{ t('vinylWallcovering.modal.details') }}</h3>
                                <div style="font-size:18px">
                                    <p>{{ t('vinylWallcovering.modal.productName') }} : {{ value.image_name }}</p>
                                    <p>{{ t('vinylWallcovering.modal.productCategory') }} : {{ value.product_category }}</p>
                                    <p>{{ t('vinylWallcovering.modal.productRemark') }} : {{ value.product_remark }}</p>
                                    <p>{{ t('vinylWallcovering.modal.productYear') }} : {{ value.product_year }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ t('vinylWallcovering.modal.close') }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 2021年產品 -->
    <div v-for="value in wallpaperData2021" :key="value">
        <div class="modal fade" :id="value.image_name" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ value.image_name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="thumb">
                                    <a class="light" v-bind:href="value.image_path" target="_blank">
                                        <img class="img-fluid" v-bind:src="value.image_path" alt="post">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <h3 class="title_color">{{ t('vinylWallcovering.modal.details') }}</h3>
                                <div style="font-size:18px">
                                    <p>{{ t('vinylWallcovering.modal.productName') }} : {{ value.image_name }}</p>
                                    <p>{{ t('vinylWallcovering.modal.productCategory') }} : {{ value.product_category }}</p>
                                    <p>{{ t('vinylWallcovering.modal.productRemark') }} : {{ value.product_remark }}</p>
                                    <p>{{ t('vinylWallcovering.modal.productYear') }} : {{ value.product_year }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ t('vinylWallcovering.modal.close') }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 2020年產品 -->
    <div v-for="value in wallpaperData2020" :key="value">
        <div class="modal fade" :id="value.image_name" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ value.image_name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="thumb">
                                    <a class="light" v-bind:href="value.image_path" target="_blank">
                                        <img class="img-fluid" v-bind:src="value.image_path" alt="post">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <h3 class="title_color">{{ t('vinylWallcovering.modal.details') }}</h3>
                                <div style="font-size:18px">
                                    <p>{{ t('vinylWallcovering.modal.productName') }} : {{ value.image_name }}</p>
                                    <p>{{ t('vinylWallcovering.modal.productCategory') }} : {{ value.product_category }}</p>
                                    <p>{{ t('vinylWallcovering.modal.productRemark') }} : {{ value.product_remark }}</p>
                                    <p>{{ t('vinylWallcovering.modal.productYear') }} : {{ value.product_year }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ t('vinylWallcovering.modal.close') }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 2019年產品 -->
    <div v-for="value in wallpaperData2019" :key="value">
        <div class="modal fade" :id="value.image_name" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ value.image_name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="thumb">
                                    <a class="light" v-bind:href="value.image_path" target="_blank">
                                        <img class="img-fluid" v-bind:src="value.image_path" alt="post">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <h3 class="title_color">{{ t('vinylWallcovering.modal.details') }}</h3>
                                <div style="font-size:18px">
                                    <p>{{ t('vinylWallcovering.modal.productName') }} : {{ value.image_name }}</p>
                                    <p>{{ t('vinylWallcovering.modal.productCategory') }} : {{ value.product_category }}</p>
                                    <p>{{ t('vinylWallcovering.modal.productRemark') }} : {{ value.product_remark }}</p>
                                    <p>{{ t('vinylWallcovering.modal.productYear') }} : {{ value.product_year }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ t('vinylWallcovering.modal.close') }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 2018年產品 -->
    <div v-for="value in wallpaperData2018" :key="value">
        <div class="modal fade" :id="value.image_name" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ value.image_name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="thumb">
                                    <a class="light" v-bind:href="value.image_path" target="_blank">
                                        <img class="img-fluid" v-bind:src="value.image_path" alt="post">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <h3 class="title_color">{{ t('vinylWallcovering.modal.details') }}</h3>
                                <div style="font-size:18px">
                                    <p>{{ t('vinylWallcovering.modal.productName') }} : {{ value.image_name }}</p>
                                    <p>{{ t('vinylWallcovering.modal.productCategory') }} : {{ value.product_category }}</p>
                                    <p>{{ t('vinylWallcovering.modal.productRemark') }} : {{ value.product_remark }}</p>
                                    <p>{{ t('vinylWallcovering.modal.productYear') }} : {{ value.product_year }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ t('vinylWallcovering.modal.close') }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 2017年產品 -->
    <div v-for="value in wallpaperData2017" :key="value">
        <div class="modal fade" :id="value.image_name" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ value.image_name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="thumb">
                                    <a class="light" v-bind:href="value.image_path" target="_blank">
                                        <img class="img-fluid" v-bind:src="value.image_path" alt="post">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <h3 class="title_color">{{ t('vinylWallcovering.modal.details') }}</h3>
                                <div style="font-size:18px">
                                    <p>{{ t('vinylWallcovering.modal.productName') }} : {{ value.image_name }}</p>
                                    <p>{{ t('vinylWallcovering.modal.productCategory') }} : {{ value.product_category }}</p>
                                    <p>{{ t('vinylWallcovering.modal.productRemark') }} : {{ value.product_remark }}</p>
                                    <p>{{ t('vinylWallcovering.modal.productYear') }} : {{ value.product_year }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ t('vinylWallcovering.modal.close') }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 2015年產品 -->
    <div v-for="value in wallpaperData2015" :key="value">
        <div class="modal fade" :id="value.image_name" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ value.image_name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="thumb">
                                    <a class="light" v-bind:href="value.image_path" target="_blank">
                                        <img class="img-fluid" v-bind:src="value.image_path" alt="post">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <h3 class="title_color">{{ t('vinylWallcovering.modal.details') }}</h3>
                                <div style="font-size:18px">
                                    <p>{{ t('vinylWallcovering.modal.productName') }} : {{ value.image_name }}</p>
                                    <p>{{ t('vinylWallcovering.modal.productCategory') }} : {{ value.product_category }}</p>
                                    <p>{{ t('vinylWallcovering.modal.productRemark') }} : {{ value.product_remark }}</p>
                                    <p>{{ t('vinylWallcovering.modal.productYear') }} : {{ value.product_year }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ t('vinylWallcovering.modal.close') }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="modal fade" id="noData" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ t('vinylWallcovering.modal.noData') }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container d-flex justify-content-center">
                            <h3 class="title_color">{{ t('vinylWallcovering.modal.noDataRemark') }}</h3>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ t('vinylWallcovering.modal.close') }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
import {ref} from "@vue/reactivity"
import { useI18n } from "vue-i18n";
import wallpaper from "../../src/imageJson/wallpaper.json"
    const wallpaperData = wallpaper.data;
    const wallpaperData2022 = wallpaper.data.year_2022;
    const wallpaperData2021 = wallpaper.data.year_2021;
    const wallpaperData2020 = wallpaper.data.year_2020;
    const wallpaperData2019 = wallpaper.data.year_2019;
    const wallpaperData2018 = wallpaper.data.year_2018;
    const wallpaperData2017 = wallpaper.data.year_2017;
    const wallpaperData2015 = wallpaper.data.year_2015;
    const wallpaperDataUnknown = wallpaper.data.year_unknown;

    // console.log(wallpaperData);
    export default {
        wallpaperData :wallpaper.data,
        data() {
            return {
                wallpaperData,
                wallpaperData2022,
                wallpaperData2021,
                wallpaperData2020,
                wallpaperData2019,
                wallpaperData2018,
                wallpaperData2017,
                wallpaperData2015,
                wallpaperDataUnknown
            };
        },
        setup() {
            const { t, locale } = useI18n();
            return {
                t,
                locale,
            };
        },
        methods:{
            wallpaperBtnClick(id,name,path){
                wallpaperImg_id.value = id;
                wallpaperImg_path.value =path;
                wallpaperImg_name.value = name;
            },
            search(){
                var seach_id = $("#search").val();
                if (seach_id == "") {
                    $('#noData').modal('show');
                }else if ($("#"+seach_id).length == 0) {
                    $('#noData').modal('show');
                }else{
                    $(`#${seach_id}`).modal('show');
                }
            }
        }
    };
</script>

<style>
    .img_background_cover{

        background-size: cover;
        background-color: rgba(0, 0, 0, .6);
        background-position: center center;
        background-blend-mode: multiply;
    }


</style>