<template>
    <!--================Header Area =================-->
    <header class="header_area">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light">
            <!-- Brand and toggle get grouped for better mobile display -->
            <router-link class="nav-link" to="/"><img style="height:60%;width:60%" src="/src/assets/image/logo/logo.png" alt=""></router-link>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto navUL">
                        <li class="nav-item"><router-link class="nav-link" to="/">{{ t("nav.Home") }}</router-link></li>
                        <li class="nav-item"><router-link class="nav-link" to="/Products">{{ t("nav.Products") }}</router-link></li>
                        <!-- <li class="nav-item"><router-link class="nav-link" to="/Project">Project</router-link></li> -->
                        <li class="nav-item"><router-link class="nav-link" to="/Exclusive">{{ t("nav.Exclusive") }}</router-link></li>
                        <li class="nav-item"><router-link class="nav-link" to="/Contact">{{ t("nav.Contact") }}</router-link></li>
                        <li class="nav-item d-flex align-items-center">
                            <select class="form-control" v-model="locale">
                                <option>English</option>
                                <option>繁體中文</option>
                            </select>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
<!--================Header Area =================-->

    <router-view/>


    <div id=menu>
        <div id="menu-item1">
            <font-awesome-icon :icon="['fas' , 'phone']"  style="color:white"/>
            <span>Telephone</span>
        </div>
        <div id="menu-item2">
            <font-awesome-icon :icon="['fas' , 'envelope']" style="color:white"/><br>
            <span>Email</span>
        </div>
    </div>

    <!--================ start footer Area  =================-->
        <footer class="footer-area section_gap" style="margin-top:20px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4  col-md-6 col-sm-12">
                        <div class="single-footer-widget footerContantFontSize">
                            <h6 class="footer_title footerTitleFontSize">{{ t("footer.left.name") }}</h6>
                            <p>{{ t("footer.left.phone.name") }}： <br>  <span> {{ t("footer.left.phone.number1") }}</span></p>
                            <p>{{ t("footer.left.fax.name") }}： <br>  <span>{{ t("footer.left.fax.number") }}</span></p>
                            <p>{{ t("footer.left.email.name") }}： <br>   <span style="word-break: break-all;">{{ t("footer.left.email.mail1") }}</span> </p>


                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="single-footer-widget">
                            <h6 class="footer_title footerTitleFontSize">{{ t("footer.center.name") }}</h6>
                            <div class="row">
                                <div class="col-12 footerContantFontSize">
                                    <ul class="list_style">
                                        <li><router-link class="" to="/WallCovering">{{ t("footer.center.product.List3") }}</router-link></li>
                                        <li><router-link class="" to="/PlasticFloor">{{ t("footer.center.product.List2") }}</router-link></li>
                                        <li><router-link class="" to="/LifeApplication">{{ t("footer.center.product.List1") }}</router-link></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="single-footer-widget">
                            <h6 class="footer_title footerTitleFontSize">{{ t("footer.right.name") }}</h6>
                                <p class="footerContantFontSize">{{ t("footer.right.address") }}</p>
                                <a href="https://www.google.com/maps/place/%E5%85%89%E7%99%BC%E5%A1%91%E8%86%A0%E5%B7%A5%E6%A5%AD%E8%82%A1%E4%BB%BD%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8/@24.1012576,120.7276987,15.41z/data=!4m5!3m4!1s0x3469232180773d0d:0xb58e387fd61c76d3!8m2!3d24.1037405!4d120.7322598"><img class="addressImage" src="../src/assets/image/address/address.jpg"/></a>

                        </div>
                    </div>
                </div>
                <div class="border_line"></div>
                <div class="row footer-bottom d-flex justify-content-between align-items-center ">
                    <p class="col-lg-12 col-sm-12 footer-text m-0">
                        Copyright &copy;{{nowDate}} All rights reserved.
                        <!-- <i class="fa fa-heart-o" aria-hidden="true"></i>  -->
                        Design by <a class="footer-design" href="https://www.instagram.com/fourcourt04/" target="_blank">肆閣工作室</a>
                    </p>
                    <!-- <div class="col-lg-4 col-sm-12 footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div> -->
                </div>
            </div>
        </footer>
		<!--================ End footer Area  =================-->


</template>

<script setup>
import { useI18n } from "vue-i18n";
const nowDate = new Date().getFullYear();
const { t, locale } = useI18n();
</script>

<style scoped>
:root{
    --menuContentPhone : '09123123123';
    --menuContentEmail : 'test@gmail.com';
}
.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vue:hover {
    filter: drop-shadow(0 0 2em #42b883aa);
}
.footer-text{
    font-size: 20px;
    color: 	#EAC100;
}

#menu {
    position: fixed;
    right: 0;
    top: 50%;
    width: 8em;
    margin-top: -2.5em;
    z-index: 1000;
    text-align: center;
}
#menu-item1{
    position: relative;
    margin-top: 10px;
    background-color:rgba(0,0,0,0.4);
    padding: 10px;

}
#menu-item1 span{
    color: white;
    font-size: 15px;
    font-weight: bolder;
    margin-left: 10px;
}


#menu-item1::after{
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:#DEDEBE;
    transform: scaleX(0);
    transition: transform 0.4s ease-out;
    transform-origin: bottom right;
    left:0;
    vertical-align: middle;
}

#menu-item1:hover::after{
    content: '+886-4-22712442';
    transform-origin: bottom left;
    transform: scaleX(1);

}

#menu-item2{
    position: relative;
    margin-top: 10px;
    background-color:rgba(0,0,0,0.4);
    padding: 10px;


}
#menu-item2 span{
    color: white;
    font-size: 15px;
    font-weight: bolder;
    margin-left: 10px;
}

#menu-item2::after{
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:#DEDEBE;
    transform: scaleX(0);
    transition: transform 0.4s ease-out;
    transform-origin: bottom right;
    left:0;
    vertical-align: middle;
}


#menu-item2:hover::after{
    content: 'ceo@polyshineindustry.com';
    transform-origin: bottom left;
    transform: scaleX(1);
    word-break: break-all;
}

/* #menu-item2:hover span{
    width: 500px;

} */

.addressImage{
    width: 100%;
    height:100%px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.addressImage:hover{
    border-radius: 10px;
}

.footer-design:hover{
    color: #DEDEBE !important;
}

.footerTitleFontSize{
    font-size: 22px;
    color: #EAC100;
}

.footerContantFontSize{
    font-size: 16px;
    color: white !important;
}

.footerContantFontSize ul li a {
    font-size: 16px;
    color: white !important;
}


.navUL li a{
    font-size: 18px !important;
}

</style>
